[Desktop Entry]
Version=1.0
Type=Application
Name=Calendar
Comment=Schedule and manage your events
Icon=dev.sinty.calendar
Exec=singularity-calendar %U
MimeType=text/calendar;
Categories=Office;
Terminal=false
Actions=new-event;

[Desktop Action new-event]
Name=New Event
Exec=singularity-calendar --new-event
